In [0]:
import pandas as pd

In [0]:
df_sales = pd.read_csv("m5/bayesian_dataset.csv")

In [0]:
df_sales[["Food_Sales"]].info

<bound method DataFrame.info of       Food_Sales
0        23178.0
1        18901.0
2        16383.0
3        19276.0
4        22628.0
...          ...
1908     27938.0
1909     29137.0
1910     21483.0
1911     19129.0
1912     19365.0

[1913 rows x 1 columns]>

In [0]:
df_sales.head()

,Unnamed: 0,Day,FOODS,HOBBIES,HOUSEHOLD,Revenue,holiday,snap,Food_Sales,Hobbies_Sales,Household_Sales
0,0,d_1,48049.50,9795.95,23805.16,81650.61,0,0,23178.0,3764.0,5689.0
1,1,d_10,41641.93,6735.10,16787.67,65164.70,0,1,18901.0,2615.0,4056.0
2,2,d_100,37787.27,8630.78,19437.48,65855.53,1,1,16383.0,2880.0,4425.0
3,3,d_1000,45809.28,11253.21,25365.20,82427.69,0,0,19276.0,3235.0,6749.0
4,4,d_1001,52789.78,12192.61,29198.34,94180.73,0,0,22628.0,3476.0,7773.0

In [0]:
t_df=df_sales

In [0]:
t_df=t_df.replace(to_replace ="d_", 
                 value ="",regex=True)

In [0]:
t_df["Day"] =pd.to_numeric(t_df.Day, errors='coerce')

In [0]:
t_df.dtypes

Unnamed: 0           int64
Day                  int64
FOODS              float64
HOBBIES            float64
HOUSEHOLD          float64
Revenue            float64
holiday              int64
snap                 int64
Food_Sales         float64
Hobbies_Sales      float64
Household_Sales    float64
dtype: object

In [0]:
t_df

,Unnamed: 0,Day,FOODS,HOBBIES,HOUSEHOLD,Revenue,holiday,snap,Food_Sales,Hobbies_Sales,Household_Sales
0,0,1,48049.50,9795.95,23805.16,81650.61,0,0,23178.0,3764.0,5689.0
1,1,10,41641.93,6735.10,16787.67,65164.70,0,1,18901.0,2615.0,4056.0
2,2,100,37787.27,8630.78,19437.48,65855.53,1,1,16383.0,2880.0,4425.0
3,3,1000,45809.28,11253.21,25365.20,82427.69,0,0,19276.0,3235.0,6749.0
4,4,1001,52789.78,12192.61,29198.34,94180.73,0,0,22628.0,3476.0,7773.0
...,...,...,...,...,...,...,...,...,...,...,...
1908,1908,995,65925.30,14841.52,38122.69,118889.51,0,0,27938.0,4242.0,9863.0
1909,1909,996,70331.31,14316.21,39113.09,123760.61,0,0,29137.0,4211.0,10004.0
1910,1910,997,52471.07,10991.86,27990.92,91453.85,0,0,21483.0,3059.0,7317.0
1911,1911,998,46502.22,10256.51,25205.53,81964.26,0,0,19129.0,3236.0,6592.0
1912,1912,999,46280.70,10685.68,25398.19,82364.57,0,0,19365.0,3572.0,6588.0

In [0]:
t_df['Foods_items_Sold'] = pd.cut(x=t_df['Food_Sales'], bins=[0,8000,16000,24000,32000,40000], labels=['0Kto8K','8Kto16K', '16Kto24K','24Kto32K','32Kto40K'])
t_df['Hobbies_Items_Sold'] = pd.cut(x=t_df['Hobbies_Sales'], bins=[0,1000, 2000, 3000, 4000,5000,6000],labels=['0Kto1K','1Kto2K', '2Kto3K','3Kto4K','4Kto5k','5Kto6K'] )

t_df['Household_items_Sold'] = pd.cut(x=t_df['Household_Sales'], bins=[0,3000, 6000, 9000, 12000,15000], labels=['0Kto3K','3Kto6K', '6Kto9K','9Kto12K','12Kto15K'])
t_df['Total_Revenue_in_Cash'] = pd.cut(x=t_df['Revenue'], bins=[0,30500, 61000, 91500, 122000,152500,183000], labels=['0Kto30.5K','30.5Kto61K','61Kto91.5K', '91.5Kto122K','122Kto152.5K','152.5Kto183K'])
t_df["Day"]= pd.cut(x=t_df['Day'], bins=[0,365, 730, 1095, 1460,1825,2190], labels=['Year1','Year2','Year3', 'Year4','Year5','Year6'])

#t_df['Revenue'] = pd.cut(x=t_df['Revenue'], bins=[0,30000, 60000, 90000, 120000,150000,180000], labels=['0Kto30.5K','30.5Kto61K','61Kto91.5K', '91.5Kto122K','122Kto152.5K','152.5Kto183K'])

In [0]:
t_df["Day"].max()

'Year6'

In [0]:
t_df

,Unnamed: 0,Day,FOODS,HOBBIES,HOUSEHOLD,Revenue,holiday,snap,Food_Sales,Hobbies_Sales,Household_Sales,Foods_items_Sold,Hobbies_Items_Sold,Household_items_Sold,Total_Revenue_in_Cash
0,0,Year1,48049.50,9795.95,23805.16,81650.61,0,0,23178.0,3764.0,5689.0,16Kto24K,3Kto4K,3Kto6K,61Kto91.5K
1,1,Year1,41641.93,6735.10,16787.67,65164.70,0,1,18901.0,2615.0,4056.0,16Kto24K,2Kto3K,3Kto6K,61Kto91.5K
2,2,Year1,37787.27,8630.78,19437.48,65855.53,1,1,16383.0,2880.0,4425.0,16Kto24K,2Kto3K,3Kto6K,61Kto91.5K
3,3,Year3,45809.28,11253.21,25365.20,82427.69,0,0,19276.0,3235.0,6749.0,16Kto24K,3Kto4K,6Kto9K,61Kto91.5K
4,4,Year3,52789.78,12192.61,29198.34,94180.73,0,0,22628.0,3476.0,7773.0,16Kto24K,3Kto4K,6Kto9K,91.5Kto122K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1908,1908,Year3,65925.30,14841.52,38122.69,118889.51,0,0,27938.0,4242.0,9863.0,24Kto32K,4Kto5k,9Kto12K,91.5Kto122K
1909,1909,Year3,70331.31,14316.21,39113.09,123760.61,0,0,29137.0,4211.0,10004.0,24Kto32K,4Kto5k,9Kto12K,122Kto152.5K
1910,1910,Year3,52471.07,10991.86,27990.92,91453.85,0,0,21483.0,3059.0,7317.0,16Kto24K,3Kto4K,6Kto9K,61Kto91.5K
1911,1911,Year3,46502.22,10256.51,25205.53,81964.26,0,0,19129.0,3236.0,6592.0,16Kto24K,3Kto4K,6Kto9K,61Kto91.5K
1912,1912,Year3,46280.70,10685.68,25398.19,82364.57,0,0,19365.0,3572.0,6588.0,16Kto24K,3Kto4K,6Kto9K,61Kto91.5K

In [0]:
p_df=t_df.drop(t_df.columns[[0,2,3,4,5,8,9,10]], axis=1)

In [0]:
p_df

,Day,holiday,snap,Foods_items_Sold,Hobbies_Items_Sold,Household_items_Sold,Total_Revenue_in_Cash
0,Year1,0,0,16Kto24K,3Kto4K,3Kto6K,61Kto91.5K
1,Year1,0,1,16Kto24K,2Kto3K,3Kto6K,61Kto91.5K
2,Year1,1,1,16Kto24K,2Kto3K,3Kto6K,61Kto91.5K
3,Year3,0,0,16Kto24K,3Kto4K,6Kto9K,61Kto91.5K
4,Year3,0,0,16Kto24K,3Kto4K,6Kto9K,91.5Kto122K
...,...,...,...,...,...,...,...
1908,Year3,0,0,24Kto32K,4Kto5k,9Kto12K,91.5Kto122K
1909,Year3,0,0,24Kto32K,4Kto5k,9Kto12K,122Kto152.5K
1910,Year3,0,0,16Kto24K,3Kto4K,6Kto9K,61Kto91.5K
1911,Year3,0,0,16Kto24K,3Kto4K,6Kto9K,61Kto91.5K
1912,Year3,0,0,16Kto24K,3Kto4K,6Kto9K,61Kto91.5K

In [0]:
p_df.to_csv("bayesian_dataset3.csv")